{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% if app.user %}
        <h1>Bonjour {{ app.user.pseudo }} !  👋</h1>
    {% else %}
        <h1>Bonjour visiteur ! </h1>
    {% endif %}

    <h2>Nos catégories</h2>

    {% for categorie in categories %}
        <tr><td>
            <a href="(path{{ categorie.id }})">{{ categorie.nomCategorie }}</a></br>
        </td></tr>
    {% endfor %}
{% endblock %}