{% extends 'base.html.twig' %}

{% block title %}nomCategorie {% endblock %}

{% block body %}

    <h1> titre categorie </h1>

    {% for sujet in sujets %}
        <tr><td>
            <a href="{{ path('app_sujet', {'id':sujet.id}) }}">{{ sujet.titre }}</a></br>
        </td></tr>
    {% endfor %}
{% endblock %}
