{% extends 'base.html.twig' %}

{% block title %}titre sujet{% endblock %}

{% block body %}

    <h1> titre sujet </h1>

    {% for sujet in sujets %}
        <tr><td>
            {{ sujet.dateCreation | date('j M Y')}}</br></br>
            {{ sujet.post }}</br>
        </td></tr></br>
    {% endfor %}

        {# {{ message.contenu }}</br> #}
        </td></tr></br>

        {# block créer un message #}

{% endblock %}
