{% extends 'base.html.twig' %}

{% block title %}Hello SujetController!{% endblock %}

{% block body %}

    <h1> titre sujet </h1>

    {% for sujet in sujets %}
        <tr><td>
            {{ sujet.post }}</br>
        </td></tr>
    {% endfor %}
{% endblock %}
